<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">SELAMAT DATANG DI KOMINFO LUMAJANG</h1>
            <h3 class="mb-5">
                <em>Mohon Untuk Mengisi Buku Tamu Terlebih Dahulu</em>
            </h3>
            <a href="/links/add" class="btn btn-primary">
                Lanjutkan
            </a>
        </div>
    </header>
</main>