<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">BUKU TAMU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <a href="/" class="nav-link">Beranda</a>
                </li>
                <li class="nav-item">
                    <a href="/links" class="nav-link">Histori</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Keluar</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/signin" class="nav-link">Masuk</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Daftar</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>